@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}
main{
    width: 33%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 17px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 17px 17px 0 0;
}

main h2{
    margin: .5rem;
    font-size: 3.5rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.marketing-message{
    text-align: center;
    font-size: 2rem;
    margin: 0 2.5rem;
    color: #8a8d9e;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.3rem;
    margin: 1rem 1.5rem;
    gap: 1.5rem;
    border-radius: 17px;
    background-color: #f8f9fe;
    width: 80%;
    height: auto;
}

.annual-plan{
    display: flex;
    flex-direction: column;
    gap: .2.3rem;
    align-items: center;
    
}
.annual-plan > h3{
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    font-size: 2.3rem;
}

.annual-plan > p{
    color: #8a8d9e;
    font-size: 1.7rem;
}

#icon-music{
    width: 10%;
    height: auto;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    padding: .8rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.container > button{
    padding: 0;
    background-color: #f8f9fe;
    color: #534e96;
    text-decoration: underline #534e96;
    width: auto;
}
.container > button:hover{
    color:#766cf1;
}

.buttons button:nth-child(1){
    background-color: #382ae1;
    color: white;
    border-radius: 8px;
    width: 80%;
    height: 50%;
}
.buttons button:nth-child(1):hover{
    background-color: #766cf1;
    
}
.buttons button:nth-child(2){
    background-color: white;
    color: #8a8d9e;
    border-radius: 8px;
    width: 50%;
}
.buttons button:nth-child(2):hover{
    color: hsl(223, 47%, 23%);
}

.attribution{
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
a:link {
    text-decoration: none;
    color: #69B4D2;
  }
  
  a:visited {
    text-decoration: none;
    color: #385F6F;
  }